/** {
   outline: 1px solid red !important;
}*/

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

/*
	Css for the outer most div
*/
.outer_border {
   width: 350px;
   border: 1px solid #cccccc;
   box-shadow: 10px 10px 5px #cccccc;
   padding: 0.4em;
}

/*
	Css for the inner div below the image

*/

.inner_border {
   border: 1px solid #cccccc;
   width: 320px;
   margin: 1.3em auto 0 auto;
   padding-top: 0em;
   padding-left: 0.8em;
   padding-right: 0.5em;
   padding-bottom: 0.8em;
}

/*
	Css for the image of the Animal
*/

.image_display {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #cccccc;
   width: 320px;
}

/*
	Margin and padding for the Animal Name
*/

h3 {
   padding: 0.3em;
   margin: 0em auto 0.8em auto;
}

/*
	Omiting the bullets from the list
*/

.list_bullet {
   list-style-type: none;
   padding: 0;
}

/*
	bolded labels for the animal's list items (e.g. 'Habitat')
*/

span {
   font-weight: bold;
}